<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Pelvic Chair 2022</span>
            <span>This website is made without mouse use (❁´◡`❁)</span>
        </div>
    </div>
</footer>
